#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.coming-soon {
  display: flex;
  justify-content: space-between;
  align-items: canter;
  padding: 1rem;
}

.cart-container {
  position: relative;
  display: flex;
  align-items: center;
}

.cart-container img {
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  position: absolute;
  top: -8px;
  right: -8px;
}